#  Long-Wide Operations

**Learning Objectives:**
  * Gain an introduction to pivot and melt operations using the *pandas* library
  * Transforms `DataFrames` in Long format into Wide format and viceversa

## Library import

The following line imports the *pandas* library

In [57]:

import pandas as pd

'1.3.5'

## Long Format DataFrame creation.
The following example creates a DataFrame in Long format

In [14]:
LongFormatDataFrame = pd.DataFrame({'Team': ['A', 'A', 'A', 'B', 'B',
                           'B','C','C','C'],
                   'Variable': ['Points', 'Assists', 'Rebounds', 'Points', 'Assists', 'Rebounds','Points', 'Assists', 'Rebounds'],
                   'Value': [88, 12, 22, 91, 17, 28,105,23,120]})

In [15]:
LongFormatDataFrame

  Team  Variable  Value
0    A    Points     88
1    A   Assists     12
2    A  Rebounds     22
3    B    Points     91
4    B   Assists     17
5    B  Rebounds     28
6    C    Points    105
7    C   Assists     23
8    C  Rebounds    120

## Long to Wide Transformation: Pivot operation

In [36]:
LongFormatDataFramePivoted=LongFormatDataFrame.pivot(index='Team', columns='Variable', values='Value')

In [37]:
LongFormatDataFramePivoted

Variable  Assists  Points  Rebounds
Team
A              12      88        22
B              17      91        28
C              23     105       120

## Wide Format DataFrame creation.
The following example creates a DataFrame in Wide format

In [64]:
# initialize list of lists
data = [['tom', 30,45000], ['nick', 35,50000], ['julia', 35,55000]]
  
# Create the pandas DataFrame
WideFormatDataFrame = pd.DataFrame(data, columns=['Name', 'Age','Salary'])

In [65]:
WideFormatDataFrame

    Name  Age  Salary
0    tom   30   45000
1   nick   35   50000
2  julia   35   55000

## Wide to Long Transformation: Melt operation

In [68]:
WideFormatDataFrame.melt(id_vars=['Name'], value_vars=['Age','Salary'])

    Name variable  value
0    tom      Age     30
1   nick      Age     35
2  julia      Age     35
3    tom   Salary  45000
4   nick   Salary  50000
5  julia   Salary  55000