<a href="https://colab.research.google.com/github/thousandoaks/Python4DS102/blob/main/lab/Concat_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Concat Operations

**Learning Objectives:**
  * Gain an introduction to concat operation using the *pandas* library
  * Combine several similar `DataFrames` into a  `DataFrame` applying concat operations

## Library import

The following line imports the *pandas* library

In [1]:
import pandas as pd

## Data loading and DataFrame creation

. The following example loads files with air quality data and creates a couple of `DataFrames`

In [2]:
air_quality_no2 = pd.read_csv("https://raw.githubusercontent.com/thousandoaks/Python4DS102/main/data/air_quality_no2_long.csv",
                              parse_dates=True)

In [3]:
air_quality_no2 = air_quality_no2[["date.utc", "location",
                                   "parameter", "value"]]

Let's display the first few records of the `DataFrame`:

In [4]:
air_quality_no2.head()

                    date.utc location parameter  value
0  2019-06-21 00:00:00+00:00  FR04014       no2   20.0
1  2019-06-20 23:00:00+00:00  FR04014       no2   21.8
2  2019-06-20 22:00:00+00:00  FR04014       no2   26.5
3  2019-06-20 21:00:00+00:00  FR04014       no2   24.9
4  2019-06-20 20:00:00+00:00  FR04014       no2   21.4

In [5]:
air_quality_pm25 = pd.read_csv("https://raw.githubusercontent.com/thousandoaks/Python4DS102/main/data/air_quality_pm25_long.csv",
                               parse_dates=True)

In [6]:
air_quality_pm25 = air_quality_pm25[["date.utc", "location",
                                     "parameter", "value"]]

In [7]:
air_quality_pm25.head()

                    date.utc location parameter  value
0  2019-06-18 06:00:00+00:00  BETR801      pm25   18.0
1  2019-06-17 08:00:00+00:00  BETR801      pm25    6.5
2  2019-06-17 07:00:00+00:00  BETR801      pm25   18.5
3  2019-06-17 06:00:00+00:00  BETR801      pm25   16.0
4  2019-06-17 05:00:00+00:00  BETR801      pm25    7.5

## Concat Operations

We want to combine the measurements of NO2 and PM25, two tables with a similar structure, in a single table.

<img src='https://pandas.pydata.org/pandas-docs/stable/_images/08_concat_row.svg'>

In [8]:
air_quality = pd.concat([air_quality_pm25, air_quality_no2], axis=0)

In [10]:
air_quality

                       date.utc            location parameter  value
0     2019-06-18 06:00:00+00:00             BETR801      pm25   18.0
1     2019-06-17 08:00:00+00:00             BETR801      pm25    6.5
2     2019-06-17 07:00:00+00:00             BETR801      pm25   18.5
3     2019-06-17 06:00:00+00:00             BETR801      pm25   16.0
4     2019-06-17 05:00:00+00:00             BETR801      pm25    7.5
...                         ...                 ...       ...    ...
2063  2019-05-07 06:00:00+00:00  London Westminster       no2   26.0
2064  2019-05-07 04:00:00+00:00  London Westminster       no2   16.0
2065  2019-05-07 03:00:00+00:00  London Westminster       no2   19.0
2066  2019-05-07 02:00:00+00:00  London Westminster       no2   19.0
2067  2019-05-07 01:00:00+00:00  London Westminster       no2   23.0

[3178 rows x 4 columns]

The concat() function performs concatenation operations of multiple tables along one of the axes (row-wise or column-wise).

By default concatenation is along axis 0, so the resulting table combines the rows of the input tables.